.cart-item-image {
  max-width: 250px;
  object-fit: cover;
}

.picture-size-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.cart-item-container {
  background-color: var(--color-bg-variant);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--color-light);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}